#cart_listings_container, #coupons_container{
    display: block;
    justify-self: center;
    margin-bottom: 4vh;
    max-height: 57vh;
    width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(220, 159, 255) rgb(70, 54, 107);
    position: relative; /* to place buttons correctly */
}

.cart_listing{
    width: 80vw;
    height: fit-content;
    border: 4px solid rgb(220, 159, 255);
    /* so the last child won't stay flush to cart_listing's end */
    padding-right: 3vw;
}

.cart_listing, .coupon{
    display: flex;
    justify-content: space-between; /* => spaced out children */
    align-items: center;  /* => vertically align */
    background-color: rgb(70, 54, 107);
}

.cart_listing_image{
    display: flex; /* => fits in the container */
    height: 14vh;
    margin: 2vh;
}

.cart_listing_quantity_details{
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 40%;
    margin: 2%;
}

.cart_listing_name, .cart_listing_price, .cart_listing_full_price{
    font-size: 2.4vh;
    margin: 0;
    width: 40%;
    align-self: center;
}

.cart_listing_name{
    max-width: 50%;
    overflow-y: hidden;
    /* the scrollbar appears only if the name doesn't fit */
    overflow-x: auto; 
    scrollbar-color: rgb(220, 159, 255) rgb(70, 54, 107);
}

.cart_listing_delete_button{
    margin: 2%
}

.product_quantity_input_box{
    display: flex;
    width: 40%;
    height: 10%;
    border-radius: 4px;
}

.product_quantity_input_box, .couponQuantityBox{
    background-color: rgb(218, 197, 238);
    color: rgb(60, 61, 175);
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    align-content: center;
    border: 4px solid rgb(99, 97, 204);
    margin: 2vh;
}

.coupon{
    width: 50vw;
    min-width: 80px;
    height: 10vh;
    min-height: 40px;
    border: 0.8vh dashed rgb(181, 85, 236);
    margin: 2%;
}

.couponQuantityBox{
    width: 10vw;
    height: 5vh;
    border-radius: 50%;
}

.couponName{
    /* flex-grow => name fills out the empty space in the container => couponQuantityBox sits aligned to the end of the coupon */
    /* just wrote a big number to make sure all space is filled */
    flex-grow: 30;
    overflow-y: hidden;
    /* the scrollbar appears only if the name doesn't fit */
    overflow-x: auto; 
    margin: 5%;
}

#cart_gift_message{
    background-color: rgb(70, 54, 107);
    border: 1vh dotted rgb(181, 85, 236);
    padding: 1rem;
    margin: 2rem;
}

#cart_messages_container{
    /* to change the display: flex from the .center class */
    display: block;
}